button {
  width: 50px;
  height: 50px;
}

.card {
  padding: 10px;
}

.stat-box {
  width: 110px;
}

#humanLore, #dwarfLore, #elfLore, #halflingLore {
  display: none;
}

#rollButtons button{
  display: none;
}
#rollButtons{
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 50px;
}

.D20 {
  float: right;
}
